.card-header {
    border: 2px solid rgb(54, 54, 97);
    width: 100%;
    text-align: center;
}

.card-body {
    background-color: rgb(54, 54, 97);
    color: white;
    text-align: center;
}

button {
    padding: 3px;
    width: 20%;
    text-decoration: none;
}
